<!doctype html>
<html>
<head>
    <title>Recipe</title>
</head>
<body>

<h1>{{title}}</h1>
<p><a href="{{ instagram_url }}">Reel</a></p>

<h2>Ingredients</h2>
<ul>
    {% for ingredient in ingredients %}
    <li>{{ ingredient }}</li>
    {% endfor %}
</ul>

<h2>Instructions</h2>
<ul>
    {% for instruction in instructions %}
    <li>{{ instruction }}</li>
    {% endfor %}
</ul>

<video width="500" controls>
    <source src="/videos/{{instagram_id}}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<p>
    {{ raw_description }}
</p>
</body>
</html>
