<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <link rel="stylesheet" href="/public/stylesheets/application.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css"/>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"></script>
</head>

<body class="bg-gray-100">
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8 text-center">Recipe List</h1>

    <!-- New recipe button -->

    <sl-dialog label="Dialog" class="dialog-overview">
        <h2 slot="label">New Recipe</h2>
        <form class="flex flex-col gap-2" action="/recipes" method="POST">
            <sl-input name="reel_url" placeholder="Instagram URL" required></sl-input>
            <div class="flex justify-between">
                <sl-button type="submit" slot="footer">Save</sl-button>
                <sl-button type="button" slot="footer" class="dialog-cancel">Cancel</sl-button>
            </div>
        </form>
    </sl-dialog>

    <sl-button>New Recipe</sl-button>

    <ul class="flex flex-column">
        {% for recipe in recipes %}
        <li class="p-2 rounded-md bg-white">
            <a href="/recipes/{{ recipe.id }}" class="text-blue-500 hover:underline">{{ recipe.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
    const dialog = document.querySelector('.dialog-overview');
    const openButton = dialog.nextElementSibling;
    const closeButton = dialog.querySelector('sl-button.dialog-cancel');

    openButton.addEventListener('click', () => dialog.show());
    closeButton.addEventListener('click', () => dialog.hide());
</script>
</body>
</html>
